* {
  box-sizing: border-box;
}


/* these are ingredients, directions, and equipment */

#column1 {
  background-color: #FF7F50;
}

#column2 {
  background-color: #8FBC8F;
}

#column3 {
  background-color: #B0C4DE;
}

.img-fluid {
  height: 500px;
  width: 800px;
  display: block;
}

/* changes are being made */ 

/* not sure whether this works for mobile */

@media screen and (max-width: 575px) {
  h4 {
    text-color: #B22222;
  }
  div {
    background-color: black;
  }
}

/* below is desktop screen */

@media screen and (min-width: 576px) {
  h1 {
    text-color: #F5F5DC;
  }
  h4 {
    color: black;
  }
}

@media (orientation: portrait) {
  div {
    width: 100vw;
  }
}

@media (orientation: landscape) {
  div {
    display: inline-block;
    float: left;
    width: calc(100vw/3 - 1vw);
    padding: 1vw;
  }
}